@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #424242;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #424242;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background: var(--background);
  font-family: var(--font-poppins), Helvetica, sans-serif;
}
